@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-background text-text font-sans antialiased;
  background-image:
    radial-gradient(at 0% 0%, hsla(84, 100%, 75%, 0.15) 0px, transparent 50%),
    radial-gradient(at 100% 100%, hsla(140, 100%, 75%, 0.1) 0px, transparent 50%);
  background-attachment: fixed;
}